@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';
@import "@nuxt/ui";




:root {
    --brand: #4ade80; /* цвет лого */
    --ui-primary: rgba(0, 0, 0, 0);
}

@theme {
    --color-brand: var(--brand);
    --color-brand-dark: #22c55e; /* затемнённый */
    --color-brand-light: #86efac; /* осветлённый */
}

.dark {
    /* Dark preset (old-neutral) */
    /*--ui-background: #171717;*/
    /*--ui-foreground: #f9fafb;*/
    /*--ui-border: #262626;*/
    /*--ui-muted: #737373;*/
    /*--ui-accent: #f472b6;*/
}

img {
  image-rendering: high-quality;
}

.cover {
  aspect-ratio: 1 / 1;
}
